<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<div ng-app="myApp" >
<div ng-controller="autoScrollCtrl">
<a id="top" ng-click="goToBottom()">Go to bottom</a>
<br/><br/>

First Name: <input type="text" ng-model="firstName"><br>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
The universe comes out of the union of two fundamental forces: matter (jada, or ’that which gives shape’) and consciousness (chetan). These are also respectively known as prakrati (the manifested form) and purusha (the invisible enlivening spirit). Both have their own merits when considered in isolation; however, it is the union and co-operation of these two entities that works wonders. The human body is a very good example of this fact. Our body is made up of five basic elements -the panca tatvas.

The body is an integrated form of various organs, muscles, nerves, arteries, veins etc., and can be used to accomplish any desired work but is non-functional without consciousness. The consciousness part of man (termed "the soul") thinks, decides and directs organs towards a particular task. The separation of consciousness from matter results in death. A dead body is useless since it is not functional. In the absence of consciousness, it rapidly decays and its constituting elements eventually dissolve into their cosmic states.

In essence, it is the association of matter and consciousness that gives rise to functionality. Matter alone, otherwise, is unorganised and of very little use even though it is present in abundance in the universe. For example, water is plentiful in oceans but is too salty. The atmosphere is full of gases, electro-magnetic rays, X-rays etc. but these components are not useful on their own. It is the human intervention, or alternatively the intervention of developed consciousness, that organises matter so as to make it useful. For example, man has developed methods to process water to make it fit for human consumption. Fire and electricity were present in the universe since times immemorial, but man's intelligence organised these entities in a utilisable form.

Thus, although the components of Nature are powerful in their own right, their usefulness has depended on the inventive skills of human consciousness.  

Science and spirituality: 

The discovery of the powers of Nature, their organisation and the skills that make them useful to man is called science. Science can thus be called the unison of matter and consciousness. Science has made possible the progress of the human civilisation. It should be noted that the knowledge of the use of matter is not enough; its righteous use should also be considered. The same criterion also applies to consciousness. In the absence of their righteous use, matter and consciousness are open to be abused.

The attraction of immediate gains is such that its long-term effects are not appreciated and this short-sighted judgement prompts man to misuse power. Ultimately, he creates a web in which he gets trapped, just like a fish caught in a net. This results in suffering, public anger and self-destruction, and yet it is a practice generally adopted by most people. The society and the government rarely succeed in preventing such practices....Science can be legitimately credited for the current progress and prosperity, but it is incapable of differentiating between use and abuse. The only way to control its misuse is to incorporate wisdom based on foresightedness and the nobilities associated with human glory. This is the essence of spirituality. 

Spirituality means, "centred and established on the soul", that is, activities in life are designed keeping the awakening of the soul as the aim. The soul is the individualized consciousness present in the human body. Consciousness is more powerful than matter. As discussed earlier, it is the miracle of consciousness that organises matter in an orderly way. However, unrestrained consciousness has drawbacks too. For example, it is easy to find faults in others, but does anyone try to observe his own self for their own faults? Usually, an individual is biased towards his shortcomings and considers him self the best. 

A person trying to prove him self right will present several arguments in his favour. This distorts the reality and generates undesirable thoughts. The dual accomplishment of the righteous use of science and the refinement of consciousness is possible only through spirituality. 


Last Name: <input type="text" ng-model="lastName"><br>
<br><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


Full Name: {{firstName + " " + lastName}}
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
The universe comes out of the union of two fundamental forces: matter (jada, or ’that which gives shape’) and consciousness (chetan). These are also respectively known as prakrati (the manifested form) and purusha (the invisible enlivening spirit). Both have their own merits when considered in isolation; however, it is the union and co-operation of these two entities that works wonders. The human body is a very good example of this fact. Our body is made up of five basic elements -the panca tatvas.

The body is an integrated form of various organs, muscles, nerves, arteries, veins etc., and can be used to accomplish any desired work but is non-functional without consciousness. The consciousness part of man (termed "the soul") thinks, decides and directs organs towards a particular task. The separation of consciousness from matter results in death. A dead body is useless since it is not functional. In the absence of consciousness, it rapidly decays and its constituting elements eventually dissolve into their cosmic states.

In essence, it is the association of matter and consciousness that gives rise to functionality. Matter alone, otherwise, is unorganised and of very little use even though it is present in abundance in the universe. For example, water is plentiful in oceans but is too salty. The atmosphere is full of gases, electro-magnetic rays, X-rays etc. but these components are not useful on their own. It is the human intervention, or alternatively the intervention of developed consciousness, that organises matter so as to make it useful. For example, man has developed methods to process water to make it fit for human consumption. Fire and electricity were present in the universe since times immemorial, but man's intelligence organised these entities in a utilisable form.

Thus, although the components of Nature are powerful in their own right, their usefulness has depended on the inventive skills of human consciousness.  

Science and spirituality: 

The discovery of the powers of Nature, their organisation and the skills that make them useful to man is called science. Science can thus be called the unison of matter and consciousness. Science has made possible the progress of the human civilisation. It should be noted that the knowledge of the use of matter is not enough; its righteous use should also be considered. The same criterion also applies to consciousness. In the absence of their righteous use, matter and consciousness are open to be abused.

The attraction of immediate gains is such that its long-term effects are not appreciated and this short-sighted judgement prompts man to misuse power. Ultimately, he creates a web in which he gets trapped, just like a fish caught in a net. This results in suffering, public anger and self-destruction, and yet it is a practice generally adopted by most people. The society and the government rarely succeed in preventing such practices....Science can be legitimately credited for the current progress and prosperity, but it is incapable of differentiating between use and abuse. The only way to control its misuse is to incorporate wisdom based on foresightedness and the nobilities associated with human glory. This is the essence of spirituality. 

Spirituality means, "centred and established on the soul", that is, activities in life are designed keeping the awakening of the soul as the aim. The soul is the individualized consciousness present in the human body. Consciousness is more powerful than matter. As discussed earlier, it is the miracle of consciousness that organises matter in an orderly way. However, unrestrained consciousness has drawbacks too. For example, it is easy to find faults in others, but does anyone try to observe his own self for their own faults? Usually, an individual is biased towards his shortcomings and considers him self the best. 

A person trying to prove him self right will present several arguments in his favour. This distorts the reality and generates undesirable thoughts. The dual accomplishment of the righteous use of science and the refinement of consciousness is possible only through spirituality. 

<br/><br/>
<a id="bottom" ng-click="goToTop()">Go to top</a>
<br/><br/>
</div>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('autoScrollCtrl', function($scope,$location,$anchorScroll) {
    $scope.firstName = "John";
    $scope.lastName = "Doe";
	$scope.goToBottom = function(){
		$location.hash("bottom");
		$anchorScroll();
	}
	$scope.goToTop = function(){
		$location.hash("top");
		$anchorScroll();
	}
	
});
</script>

</body>
</html>